* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* declared a variable with `--` syntax */
:root {
  --loremipsum: #364F6B;
  --cyan: #3FC1C9;
}

header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--loremipsum);
  color: var(--cyan);
  width: 100%;
}

header nav ul li {
  display: inline-block;
  margin: 7px;
  margin-top: 35px;
  margin-right: 25px;
}

header nav ul {
  list-style-type: none ;
}

header nav li {
  border-bottom: 3px solid;
}

a {
  color: var(--cyan);
  text-decoration: none;
}

/* The user's cursor is positioned over the element */
a:hover {
  background-color: white;
}
/* The user is actively pressing down on the element */
a:active {
  color: rgb(160, 96, 17);
}

/* The element is currently in focus, either by tabbing to or clicking on it */
a:focus {
  background-color:pink;
}

 /* Float property for navigation buttons to keep them on the right side of the page */
header nav {
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  margin-right: 25px;
}

#head {
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid;
  display: inline-block;
  background-color: var(--cyan) ;
  color: var(--loremipsum);                 
  padding-left: 7%;
  padding-right: 1%;
  font-size: 25px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

 /* background image using url */
#portfolio {
  height: 450px;
  width: 100%;
  background-image: url("../Assets/image-1.jpeg");
  background-size: cover;
  background-position: center;
  font-size: medium;
  color: var(--cyan);
  text-align: right;
  padding-top: 200px;
  padding-right: 50px;
  padding-left: 50px;
}

/* background avatar image using url */
.avatar{
  background-image: url("../Assets/img_avatar.jpeg");
  background-size: cover;
  border-radius: 50%;
  background-color: var(--cyan);
  width: 200px;
  height: 200px;
}

#subtitle {
  position: absolute;
  bottom: 0;
  right: 0;
}

 /* Created HTML body frame work using CSS Grid */
.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.aboutme {
  grid-column: 1;
  grid-row: 1;
  border-right: 5px solid var(--cyan);
  font-size: 45px;
  text-align: right;
  margin: 20px;
  height: 200px;
  color: var(--loremipsum);
  padding: 30px;
}

.aboutme-desc {
  grid-column: 2 / 6;
  grid-row: 1;
  border: solid white;
  margin: 20px;
  padding: 20px;
  font-size: 22px;
  color: var(--loremipsum);
  font-family: sans-serif;
}

.work {
  grid-column: 1;
  grid-row: 2 / 5;
  border-right: 5px solid var(--cyan);
  font-size: 45px;
  text-align: right;
  margin-right: 20px;
  height: 770px;
  color: var(--loremipsum);
  padding: 30px;
}

/* Setting the opacity to .5 */
.work-desc {
  grid-column: 2 / 6;
  grid-row: 2 ;
  border:  solid var(--cyan);
  font-size: 40px;
  text-align: right;
  margin-left: 20px;
  height: 350px;
  color: var(--loremipsum);
  margin-right: 20px;
  opacity: .5;
  transition: opacity .3s linear;
}

/* On hover the images opacity so background image shows through,
giving the appearance of an image tint  */
.work-desc:hover{
  opacity: 1;
  cursor: pointer;
}

.work-desc-title-box{
  background-color: var(--cyan);
  position: absolute;
  width: 15%;
  height: 12%;
  margin-top: 200px;
}

 /* background image using url */
#pic-0 {
  width: 100%;
  height: 100%;
  background-image: url("../Assets/image-0.jpg");
  background-position: center;
  background-size: cover;
}

#work-desc-title-line-1 {
  position: absolute;
  font-size: 30px;
}

#work-desc-title-line-2 {
  font-size: 15px;
  text-align: left;
}

/* Setting the opacity to .5 */
.work-1 {
  grid-column: 2 / 4;
  grid-row: 3;
  border:  solid var(--cyan);
  color: var(--loremipsum);
  font-size: 40px;
  text-align: right;
  height: 200px;
  margin-left:20px;
  opacity: .5;
  transition: opacity .3s linear;
}

/* On hover the images opacity so background image shows through,
giving the appearance of an image tint  */
.work-1:hover{
  opacity: 1;
  cursor: pointer;
}

 /* background image using url */
#pic-1 { 
  width: 100%;
  height: 100%;
  background-image: url("../Assets/image-2.jpg");
  background-position: center;
  background-size: cover;
}

.work-1-title-box{
  background-color: var(--cyan);
  position: absolute;
  width: 10%;
  height: 10%;
  margin-top: 80px;
}

#work-1-title-line-1 {
  position: absolute;
  font-size: 30px;
}

#work-1-title-line-2 {
  font-size: 15px;
  text-align: left;
}
 
/* Setting the opacity to .5 */
.work-2 {
  grid-column: 4 / 6;
  grid-row: 3;
  border:  solid var(--cyan);
  font-size: 40px;
  text-align: right;
  color: var(--loremipsum);
  height: 200px;
  margin-right: 20px;
  opacity: .5;
  transition: opacity .3s linear;
}

/* On hover the images opacity so background image shows through,
giving the appearance of an image tint  */
.work-2:hover{
  opacity: 1;
  cursor: pointer;
}

 /* background image using url */
#pic-2 {
  width: 100%;
  height: 100%;
  background-image: url("../Assets/image-3.jpg");
  background-position: center;
  background-size: cover;
}

.work-2-title-box{
  background-color: var(--cyan);
  position: absolute;
  width: 10%;
  height: 10%;
  margin-top: 80px;
}

#work-2-title-line-1
{
  position: absolute;
  font-size: 30px;
}

#work-2-title-line-2
{
  font-size: 15px;
  text-align: left;
}

/* Setting the opacity to .5 */
.work-3 {
  grid-column: 2 / 4;
  grid-row: 4;
  border:  solid var(--cyan);
  font-size: 40px;
  text-align: right;
  color: var(--loremipsum);
  height: 200px;
  margin-left:20px;
  opacity: .5;
  transition: opacity .3s linear;
}

/* On hover the images opacity so background image shows through,
giving the appearance of an image tint  */
.work-3:hover{
  opacity: 1;
  cursor: pointer;
}

 /* background image using url */
#pic-3 {
  width: 100%;
  height: 100%;
  background-image: url("../Assets/image-4.jpg");
  background-position: center;
  background-size: cover;
}

/* Setting the opacity to .5 */
.work-4 {
  grid-column: 4 / 6;
  grid-row: 4;
  border:  solid var(--cyan);
  font-size: 40px;
  text-align: right;
  color: var(--loremipsum);
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  opacity: .5;
  transition: opacity .3s linear;
}

/* On hover the images opacity so background image shows through,
giving the appearance of an image tint  */
.work-4:hover {
  opacity: 1;
  cursor: pointer;
}

 /* background image using url */
#pic-4 {
  width: 100%;
  height: 100%;
  background-image: url("../Assets/image-5.jpg");
  background-position: center;
  background-size: cover;
}

.contactme {
  grid-column: 1;
  grid-row: 5;
  border-right: 5px solid var(--cyan);
  font-size: 45px;
  text-align: right;
  margin-right: 20px;
  height: 150px;
  color: var(--cyan);
  padding: 30px;
}

.contact-num {
  grid-column: 2;
  grid-row: 5;
  color: var(--cyan);
  font-size:20px;
  text-align: center;
  height: 100px;
  margin-left:20px;
  padding: 40px;
}

.email {
  grid-column: 3;
  grid-row: 5;
  text-align: center;
  color: var(--cyan);
  font-size: 20px;
  height: 100px;
  margin-left:20px;
  padding: 40px;
}

.github-url {
  grid-column: 4;
  grid-row: 5;
  text-align: center;
  color: var(--cyan);
  font-size: 20px;
  height: 100px;
  margin-left:20px;
  padding: 40px;
  display: inline-block;
 
}

.twitter-url {
  grid-column: 5;
  grid-row: 5;
  text-align: center;
  color: var(--cyan);
  font-size: 20px;
  height: 100px;
  margin-left:20px;
  padding: 40px;
}

footer {
  padding: 15px;
  text-align: center;
  font-size: 20px;
  color: var(--loremipsum);
  background-color: var(--cyan);
  width: 100%;
  margin-top: 20px;
}









